GAS_ENDPOINT_URL=https://script.google.com/macros/s/your_deployment_id/exec
GAS_SECRET=generate_a_long_random_value
THREADS_ACCESS_TOKEN=your_threads_long_lived_token
CRON_SECRET=generate_a_long_random_value
DASHBOARD_SECRET=generate_another_long_random_value
POSTING_ENABLED=false
