GOOGLE_SHEET_ID=your_spreadsheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
THREADS_ACCESS_TOKEN=your_threads_long_lived_token
CRON_SECRET=generate_a_long_random_value
DASHBOARD_SECRET=generate_another_long_random_value
POSTING_ENABLED=false
